/* ESTILOS GENERALES */
body {
  margin: 0;
  padding: 0;
  font-family: Lato;
  background-color: #8c97ac;
  font-weight: 300;
}
/* HEADER */
.header {
  text-align: center;
}
.separador {
  width: 90%;
  margin: auto;
  border-radius: 10px;
  height: 3px;
  background-color: #f1f6f5;
}
/* HOME */
#home {
  text-align: center;
}
#home button {
  background-color: #f1f6f5;
  margin-top: 20px;
  width: 170px;
  height: 44px;
  border-radius: 4px;
  font-size: 18px;
}

/* FORMULARIO */
#formulario {
  width: 94%;
  max-width: 900px;
  margin: auto;
}
#formulario h4 {
  text-align: center;
  font-weight: 400;
}

#formulario form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#formulario form div {
  padding: 10px;
  margin-top: 8px;
  display: flex;
  border-radius: 12px;
  align-items: center;
}

#formulario form label {
  width: 280px;
  font-size: 18px;
  font-weight: 300;
}
#formulario form input {
  font-weight: 300;
  padding-left: 10px;
}
#formulario form select {
  font-weight: 300;
  padding-left: 10px;
}

#text {
  background-color: #f1f6f5;
  border: 1px solid #263159;
  box-shadow: 1px 1px 2px #263159;
}
#text input {
  width: 80%;
  margin: auto;
  border: 1px solid #263159;
  border-radius: 4px;
  height: 46px;
  font-size: 18px;
  font-weight: 300;
}
#email {
  background-color: #f1f6f5;
  border: 1px solid #263159;
  box-shadow: 1px 1px 2px #263159;
}
#email input {
  width: 80%;
  margin: auto;
  border-radius: 4px;
  height: 46px;
  font-size: 18px;
  font-weight: 300;
  border: 1px solid #263159;
}
#date {
  justify-content: space-between;
  background-color: #f1f6f5;
  border: 1px solid #263159;
  box-shadow: 1px 1px 2px #263159;
}
#date input {
  width: 25%;
  min-width: 150px;
  border-radius: 4px;
  height: 46px;
  font-size: 18px;
  font-weight: 300;
  border: 1px solid #263159;
}
#select {
  justify-content: space-between;
  background-color: #f1f6f5;
  border: 1px solid #263159;
  box-shadow: 1px 1px 2px #263159;
}
#select select {
  width: 30%;
  min-width: 150px;
  border-radius: 4px;
  height: 46px;
  font-size: 18px;
  font-weight: 300;
  border: 1px solid #263159;
}
#checkbox {
  justify-content: center;
}
#checkbox label {
}
#checkbox input {
  border-radius: 4px;
  height: 46px;
}
#submit {
}
#submit label {
  display: none;
}
#submit input {
  background-color: #f1f6f5;
  box-shadow: 1px 1px 2px #263159;
  width: 25%;
  height: 44px;
  min-width: 150px;
  margin: auto;
  margin-bottom: 50px;
  border-radius: 4px;
  font-size: 22px;
  font-weight: 300;
  border: 1px solid #263159;
}

.acceso-respuesta {
  width: 60%;
  margin: auto;
  text-align: center;
}
/* RESPUESTA */
#respuesta {
  text-align: center;
}
#respuesta button {
  background-color: #f1f6f5;
  margin-top: 20px;
  width: 170px;
  height: 44px;
  border-radius: 4px;
  font-size: 18px;
}
table {
  width: 90%;
  max-width: 600px;
  margin: auto;
  text-align: left;
  /* border-radius: 4px; */
  border: 1px solid black;
  padding: 10px;
  background-color: #f1f6f5;
  border-radius: 8px;
}
thead {
  background-color: #8c97ac;
  border: 1px solid black;
}
tbody {
  background-color: #f1f6f5;
  border: 1px solid black;
}

th {
  padding: 10px;
  width: 50%;
}
td {
  padding: 10px;

  /* border-radius: 1px; */
  border: 1px solid black;
}
